$primary-color: #ffffff;
$secondary-color: #1c1c1c;
$banner-color: #0282f9;
$secondary-banner_color: #303030;
$color-text: #1e1e1e;
$color-secondary-text: #ffffff;

@mixin flex_just_center {
    display: flex;
    justify-content: center;
}


@mixin flex_space_between {
    display: flex;
    justify-content: space-between;
}

@mixin flex_space_around {
    display: flex;
    justify-content: space-around;
}

